/* Variables declaration */
:root {
    --padding-default: 2rem;
    --section-content-min-height: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    padding: 2rem 0;
}

p {
    line-height: 1.5;
}

header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: left center;
}

footer {
    background-color: #23272A;
    padding-top: 5px;
}

footer hr {
    color: white;
}

/* Background color classes */
.grey-bg {
    background-color: #F6F6F6;
}

.salmon-bg {
    background-color: #F08080;
}

.teal-bg {
    background-color: #20B2AA;
}

.light-blue-bg {
    background-color: #7FFFD4;
}



.container {
    width: 100%;
    max-width: 1100px;
    min-width: 300px;
    margin: 0 auto;
    padding: var(--padding-default) 0;
}

.flex-box {
    display: flex;
}

.grow {
    flex-grow: 2;
}

.row-reverse {
    flex-direction: row-reverse;
}

/* Flex-items styling */
.col {
    min-height: var(--section-content-min-height);
}

header .col, footer .flex-box .logo, footer .flex-box .login-button {
    min-height: unset;
}

/* Header content */
header .container {
    padding: calc(var(--padding-default) / 2) 0;
}

header .flex-box {
    justify-content: space-between;
    align-items: center;
}

.col {
    padding: calc(var(--padding-default) / 4);
}

.navbar {
    text-align: center;
    flex-grow: 3;
}

.navbar ul li {
    list-style: none;
    display: inline;
}

.btn.login-btn{
    padding: 0.7rem 1rem;
}

.flex-box .navbar a {
    color: white;
    padding: 0.5rem 1rem;
}

.btn {
    display: inline-block;
    color: black;
    padding: 0.7rem 1.5rem;
    border-radius: 20px;
    flex-grow: 0;
}

.btn i {
    padding-right: 0.3rem;
}

.btn-white {
    background-color: white;
}

.btn-black {
    background-color: black;
}

.btn-lille {
    background-color: #8EA1E1;
}

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.jumbotron-section .container {
    padding: var(--padding-default) calc(var(--padding-default) * 7);
    min-height: 400px;
}

.jumbotron-content {
    text-align: center;
    color: white;
}

.jumbotron-content .btn-container {
    padding: 2rem 0;
}

.jumbotron-content .flex-box {
    justify-content: center;
    gap: 1rem;
}
/* Main content */
main section .container{
    padding: calc(var(--padding-default) * 3) 0;
}

main section .flex-box{
    justify-content: space-between;
    align-items: flex-start;
}

.item-img {
    width: 600px;
}

.item-text {
    flex-basis: 350px;
}

.item-text p {
    padding: 2rem 0;
}

.big-section {
    text-align: center;
}

.wide-text {
    padding: 0 4rem;
}

.big-item-img {
    width: 100%;
}

h3.stars-bg {
    background-image: url("../img/stars.svg");
    background-position: top;
    background-repeat: no-repeat;
}
/* Footer content */
footer .flex-box .white-border {
    border-color: white;
}

footer .footer-1 {
    padding: 5px 0 var(--padding-default) 0;
}

footer .footer-2 {
    padding: 10px 0 0 0;
}

footer .footer-2 .flex-box {
    padding: calc(var(--padding-default) / 2) 0;
}

footer .footer-2 .flex-box > * {
    flex-grow: 0;
    padding: calc(var(--padding-default) / 8) calc(var(--padding-default) / 4);
}